<h2>Сторінка Реєстрації</h2><br>
<div class="registration">
    <label><b>Ім'я користувача</b></label>
    <input type="text" name="Uname" id="Uname" placeholder="Ім'я користувача">
    <br><br>

    <label><b>Пароль</b></label>
    <input type="password" name="Pass" id="Pass" placeholder="Пароль">
    <br><br>

    <label><b>Підтвердіть пароль</b></label>
    <input type="password" name="PassConfirm" id="PassConfirm" placeholder="Підтвердіть пароль">
    <br><br>

    <label><b>Email</b></label>
    <input type="email" name="Email" id="Email" placeholder="Email">
    <br><br>

    <label><b>Номер картки</b></label>
    <input type="text" name="CardNumber" id="CardNumber" placeholder="Номер картки">
    <br><br>

    <label><b>Термін дії</b></label>
    <input type="text" name="ExpDate" id="ExpDate" placeholder="ММ/РР">
    <br><br>

    <label><b>CVV</b></label>
    <input type="text" name="CVV" id="CVV" placeholder="CVV">
    <br><br>

    <button id="register_button">Зареєструватися</button>
    <br><br>

    <input type="checkbox" id="check">
    <span>Запам'ятати мене</span>
    <br><br>

    <a>Вже зареєстровані?</a> <a href="#">Вхід</a>
</div>
